.ScoreLegend {
    max-width: 95px;
    margin: auto;
}

.ScoreLegend-score{
    font-size: 26px;
    font-weight: 700;
    color: var(--color-black);
    text-align: center;
}

.ScoreLegend-description{
    font-size: 16px;
    font-weight: 600;
    color: var(--color-gray);
    text-align: center;
}
