#root, .App {
  min-height: 100vh;
}

.App {
  display: grid;
  grid-template-areas: 
  "header header"
  "sidenav main";

  grid-template-columns: 117px 1fr;
  grid-template-rows: 91px 1fr;
}

.header {
  grid-area: header;
}

.sidenav {
  grid-area: sidenav;
}

.Profile {
  grid-area: main;
}